*{
    margin: 0px;
    padding: 0px;
}


.geral{
    background-color: aqua;
    height: 900px;
}

.container{
    width: 900px;
    background-color: aquamarine;
}

section{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 70px;

}

.menu-left{
    display: flex;
    background-color: bisque;
    flex: 2;
}

.menu-right{
    display: flex;
    background-color: burlywood;
    flex: 1;
}

.logo{
    background-color: red;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    margin: 1px;
}

.banner{
    display: flex;
    background-color: cadetblue;
    height: 200px;
}

.link{
    
}